{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="{% static 'course/css/style.css' %}">
	<title>Course Info</title>
</head>
<body>
	<div class="container" style="text-align: center; margin-top: 10px;">
		<div class="form-group">
			<input type="text" name="uname" placeholder="Name" class="form-control">
		</div><br>
		<div class="form-group">
			<input type="password" name="password" placeholder="Password" class="form-control">
		</div><br>
		<div class="form-group">
			<input type="email" name="email" placeholder="Email" class="form-control">
		</div><br>
		<div class="form-group">
			<textarea class="form-control" placeholder="Enter Message Here !"></textarea>
		</div><br>
		<div class="form-group">
			<input type="submit" name="submit" class="btn btn-primary" style="width:100%;">
		</div>
	</div>

	<nav>
		<ul>
			<li>
				<a href="{% url 'aboutus' %}">About</a>
				<a href="{% url 'homeus' %}">Home</a>
				<a href="{% url 'signus' %}">Signup</a>
				<a href="{% url 'contactus' %}">Contact</a>
			</li>
		</ul>
	</nav>
</body>
</html>