<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Click Page</title>
	<style type="text/css">
		body{
			background-color: black;
		}
		i{
			color: white;
			text-transform: uppercase;
		}
	</style>
</head>
<body>
	<h1 style="text-align:center;font-family:sans-serif;font-size: 40px;letter-spacing: 5px;text-transform: capitalize;color: gold;"><i>{{nm}}</i> <br> You have completed your registration successfully...</h1>
</body>
</html>