{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Home</title>
</head>
<body>
	<h1 style="text-align:center;">I am going to Home Page </h1>
	<nav>
		<ul>
			<li>
				<a href="{% url 'aboutus' %}">About</a>
				<a href="{% url 'courseus' %}">Course Info</a>
				<a href="{% url 'signus' %}">Signup</a>
				<a href="{% url 'contactus' %}">Contact</a>
			</li>
		</ul>
	</nav>
</body>
</html>