{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href=" {% static 'SignUpForm/css/style.css' %} ">
	<title>Login</title>
</head>
<body>
	<div class="container mt-5">
			<div class="alert text-center alert-danger">
				<h1>Login Form</h1>
			</div>
			<form action="" method="POST" novalidate>
				{% csrf_token %}
                 {% if form.non_field_errors %}
                     {% for error in form.non_field_errors %}
                    
                    <p> {{ error }} </p>
                     	
                     {% endfor %}
                 
                 {% endif %}
				{% for fm in form %}

				{{ fm.label.tags }}
				{{ fm }}
				{{ fm.errors | striptags }} <br><br>

				{% endfor %}
				<div class="form-group">
					<input type="submit" name="submit" value="Login" class="btn btn-danger" style="width:20%;height:40px;">
					<a href=" {% url 'signup' %}"><input type="button" name="button" value="Signup" class="btn btn-primary" style="width:20%;height:40px;"></a>
				</div>

			</form> <br>
	</div>
</body>
</html>