<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Get Session</title>
</head>
<body>
   <h1>I am getting session </h1>
   <h2>First Name = {{ name }} </h2> <br>
   {{ request.session.get_session_cookie_age }} <br><hr>
   {{ request.session.get_expiry_age }} <br><hr>
   {{ request.session.get_expiry_date }} <br><hr>
   {{ request.session.get_expire_at_browser_close }} 
</body>
</html>