{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{% static "SignUpForm/css/bootstrap.min.css" %}">
	<link rel="stylesheet" type="text/css" href=" {% static "SignUpForm/css/style.css" %} ">
	<title>Signup</title>
</head>
<body>
	<div class="container mt-5">
		<div class="row">
			<div class="alert text-center alert-danger mt-2" id = "do">
				<h1>Creating Resgistrationg Form Using User Creation form </h1>
			</div>
		</div>
		<form action="" method="POST" novalidate>
			{% csrf_token %}
			
			{% if form.non_field_errors %}
			{% for error in form.non_field_errors %}

			<p> {{ error }} </p>

			{% endfor %}

			{% endif %}

			{% for fm in form  %}
			{{ fm.label_tag }}
			{{ fm }}
			<span>{{ fm.errors | striptags }} </span> <br><br>

			{% endfor %}
			<div class="form-group">
				<input type="submit" name="submit" value="Signup" class="btn btn-outline-success" style="width:30%;height:40px;">
				<a href="{% url 'login' %}"><input type="button" name="button" value="Login" class="btn btn-outline-danger" style="width:30%;height:40px;"></a>
			</div>
		</form>
		{% if messages %}
		{% for message in messages %}
		<small {% if message.tags %} class="{{message.tags}}"> {% endif %}
		{{ message }} </small>
		{% endfor %}
		{% endif %}
	</div>

<script type="text/javascript" src="{% static "SignUpForm/js/jquery-3.6.0.js" %}"></script>
<script type="text/javascript" src=" {% static "SignUpForm/js/popper.min.js" %}"></script>
<script type="text/javascript" src=" {% static "SignUpForm/js/bootstrap.min.js" %}"></script>
</body>
</html>